.content {
	
	.content-item {

		@media only screen and (max-width : 320px) {
		width: 90%;
		margin: 0 auto;
		}
		
		margin:0;
		margin: 0 auto;
		text-align:center;
		display: block;
		overflow: hidden;
		background-color: red;

		.content-item_img {
			img {
				text-align: center;
				width: 50%;
			}
		}

		.content-item_text {
			font-weight: 300;

			.content-item_text--title {
				padding-top: 4%;
			}

			.content-item_text--description {

			}

		}
	}
}