.content {
	color: white;
	box-sizing: border-box;
	padding: 0 $x3 $x3 $x3;
	margin: $x5*2 0;
	text-align: center;

	h1{
		margin-top: 0;
	}
	
	.btn{
		padding: $x1 $x4;
		border-radius: 0px;
		margin: $x3 auto 0;
		letter-spacing: 0em;
		font-size: $x2;
		border: 2px solid white;
		font-weight: 400;
		line-height: 1;
		transition: background-color $anim, color $anim, border-color $anim;
		&:hover{
			background-color: white;
			color: hotpink;
			border-color: transparent;
		}
	}

	.card{
		padding-top: $x5;
		position: relative;
		margin: $x5*2 0;
		.circle{
			width: 50px;
			height: 50px;
			background-color: white;
			border-radius: 50%;
			position: absolute;
			top: -25px;
			left: 50%;
			transform: translate(-50%);
			box-shadow: inset 0px 0px 8px rgba(0,0,0,0.3);
			&:after{
				content:"";
				width: 20px;
				height: 20px;
				margin: 15px;
				background-color: white;
				border: 2px solid hotpink;
				border-radius: 50%;
				position: absolute;
				top: 0px;
				left: 0px;
				box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
				transition: background-color $anim;
			}
		}
		h1{
			text-align: left;
			font-size: $x5;
			margin: 0 0 $x2 0;
		}
		p{
			text-align: left;
			font-size: $x2;
			margin: 0 0 $x1 0;
		}
		&:hover{
			.circle{
				&:after{
					background-color: hotpink;
				}
			}
		}
	}
	&.design{
		.card{
			.circle{
				&:after{
					border-color: $yellow;
				}
			}
			.btn{
				&:hover{
					color: $yellow;
				}
			}
			&:hover{
				.circle{
					&:after{
						background-color: $yellow;
					}
				}
			}
		}
	}
	&.development{
		.card{
			.circle{
				&:after{
					border-color: $blue;
				}
			}
			.btn{
				&:hover{
					color: $blue;
				}
			}
			&:hover{
				.circle{
					&:after{
						background-color: $blue;
					}
				}
			}
		}
	}
	&.community{
		.card{
			.circle{
				&:after{
					border-color: $red;
				}
			}
			.btn{
				&:hover{
					color: $red;
				}
			}
			&:hover{
				.circle{
					&:after{
						background-color: $red;
					}
				}
			}
		}
	}
}

.content {
	
	box-shadow: 0px 0px 8px rgba(0,0,0,0.3);

	.card {
		margin: 0;
	}

	&.design {
		background-color: $yellow;
	}

	&.development {
		z-index: 2;
		background-color: $blue;
	}

	&.community {
		z-index: 1;
		background-color: $red;
	}

}

@media(min-width: 992px) {
	.table-wrapper {
		margin: 75px auto;
		display: flex;

		.content {
			padding-bottom: 100px;
			width: 33.33333333333333333%;
			position: relative;

			.btn {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				bottom: 30px;
			}
		}
	}
}
