.content {
	color: white;
	box-sizing: border-box;
	padding: $x5*2 $x5;
	text-align: center;

	h1{
		margin-top: 0;
	}
	
	.btn{
		color: white;
		padding: $x1 $x4;
		border-radius: 0px;
		margin: $x3 auto 0;
		letter-spacing: 0em;
		font-size: $x2;
		border: 2px solid white;
		font-weight: 400;
		line-height: 1;
		transition: background-color $anim, color $anim, border-color $anim;
		&:hover{
			background-color: white;
			color: hotpink;
			border-color: transparent;
		}
	}

	.card{
		position: relative;
		margin: 0 auto;
		max-width: 100%;
		text-align: left;
		.circle{
			width: 50px;
			height: 50px;
			background-color: white;
			border-radius: 50%;
			position: absolute;
			top: -25px;
			left: 50%;
			-webkit-transform: translate(-50%);
			-ms-transform: translate(-50%);
			transform: translate(-50%);
			border: 2px solid hotpink;
			box-sizing: border-box;
			&:after{
				content:"";
				width: 20px;
				height: 20px;
				margin: 13px;
				background-color: white;
				border: 2px solid hotpink;
				border-radius: 50%;
				position: absolute;
				top: 0px;
				left: 0px;
				transition: background-color $anim;
			}
		}
		h1{
			text-align: left;
			font-size: $x5;
			margin: 0 0 $x2 0;
		}
		p{
			text-align: left;
			font-size: $x2;
			margin: 0 0 $x1 0;
		}
	}
	&.design{
		background-color: $yellow;
		.card{
			.btn{
				&:hover{
					color: $yellow;
				}
			}
		}
	}
	&.development{
		background-color: $blue;
		.card{
			.btn{
				&:hover{
					color: $blue;
				}
			}
		}
	}
	&.community{
		background-color: $red;
		.card{
			.btn{
				&:hover{
					color: $red;
				}
			}
		}
	}
}

.table-wrapper{
	padding: 0px;
	position: relative;
	overflow: hidden;
	&:before{
		content:"";
		width: 100%;
		height: 0px;
		bottom: 0;
		left: 0;
		border-left: 100vw solid transparent;
		border-bottom: 50px solid white;
		position: absolute;
		display: block;
		z-index: 5;
	}
	&:after{
		content:"";
		width: 100%;
		height: 0px;
		top: 0;
		left: 0;
		border-right: 100vw solid transparent;
		border-top: 50px solid white;
		position: absolute;
		display: block;
		z-index: 5;
	}
}

@media(min-width: 361px) {
	.content{
		padding: $x5*3 $x5;
	}
}

@media(min-width: 575px) {
	.content{
		.card{
			max-width: 75%;
		}
	}
}

@media(min-width: 991px) {
	.table-wrapper {
		margin: $x5 auto;
		display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
		display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
		display: -ms-flexbox;      /* TWEENER - IE 10 */
		display: -webkit-flex;     /* NEW - Chrome */
		display: flex;

		.content {
			width: 33.33333333333333333%;
			position: relative;
			.card{
				max-width: 100%;
			}
		}
	}
}