.content {
	padding: 50px 0;

	.content-item {
		padding: 50px 0;

		&.centered {
			img {
				display: block;
				margin: 25px auto;
				max-width: 300px;
			}
			p {
				margin: 0 auto;
				max-width: 500px;
				text-align: center;
			}
		}
	}
}