.content {
	padding: 50px 0;

	.content-item {
		padding-top: 50px;
		padding-bottom: 50px;

		h3 {
			font-size: 48px;
			font-weight: 300;
		}

		img {
			width: 80%;
		}

		&.centered {
			text-align: center;
			img {
				display: block;
				margin: 25px auto;
				max-width: 300px;
			}
			p {
				margin: 0 auto;
				max-width: 500px;
			}
		}
	}
}