.description{
	padding: $x5*2;
	text-align: center;
	p{
		font-size: $x4;
		font-weight: 300;
		margin-bottom: $x5;
		b{
			font-weight: 400;
			color: $red;
		}
	}
	h2{
		font-size: $x5*2;
		font-weight: 400;
		line-height: 1;
		margin: 0;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		text-shadow: 0.06em 0.06em 0px $red;
		margin-bottom: $x2;
	}
	.btn{
		position: relative;
		border: 2px solid $black;
		border-radius: 0px;
		padding: $x2 $x5;
		.circle{
			position: absolute;
			width: 20px;
			height: 20px;
			background-color: $black;
			border: 4px solid white;
			border-radius: 50%;
			left: 50%;
			bottom: -10px;
			transform: translateX(-50%);
			transition: background-color $anim;
			&:after{
				content:"";
				position: absolute;
				width: 8px;
				height: 8px;
				top: 2px;
				left: 2px;
				background-color: white;
				border-radius: 50%;
				transition: background-color $anim;
			}
		}
		&:hover{
			.circle{
				background-color: $red;
				&:after{
					background-color: $red;
				}
			}
		}
	}
}

@media only screen and (max-width : 768px) {
	.description{
		padding: 80px 0;
		h2{
			font-size: $x3*2
		}
		p{
			font-size: $x3;
			padding: 0 $x5;
		}
	}
	.img-responsive{
		max-width: 80%;
		margin: 0 auto;
	}
}