.design{
	&.detail-page{
		.description{
			h2{
				text-shadow: 0.06em 0.06em 0px $yellow;
			}
		}
		.col-md-8{
			p{
				b{
					//color: $yellow;
				}
			}
		}
		section.container-fluid{
			&:nth-of-type(odd){
				background-color: $yellow;
				&:before{
					border-bottom-color: $yellow;
				}
				&:after{
					border-top-color: $yellow;
				}
			}
		}
	}
}