.design-page{
	.description{
		h2{
			text-shadow: 5px 5px 0px $yellow;
		}
	}
	.col-md-4{
		transition: padding $anim;
		.card{
			padding-top: 1px;
			box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
			border: 1px solid rgba(0,0,0,0.15);
			@include aspect-ratio(1, 1);
			transition: box-shadow $anim;
			.content{
				width: 75%;
				height: auto;
				margin: 0 12.5%;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		h3{
			text-transform: uppercase;
			font-size: $x5;
			text-align: center;
			text-shadow: 0.1em 0.1em 0px rgba(0,0,0,0.3);
			padding: 15px;
			margin: 0;
			transition: text-shadow $anim;
		}
		p{
			text-align: center;
			font-size: $x2;
			padding: 0 15px;
			margin: 0px 0px 40px 0px;
		}
		&:hover{
			padding: 0 10px;
			.card{
				box-shadow: 0px 0px 16px rgba(0,0,0,0.2);
			}
			h3{
				text-shadow: 0.25em 0.25em 0px rgba(0,0,0,0.3);
			}
		}
	}
}