.detail-page{
	overflow-x: hidden;
	.description{
		h2{
			text-shadow: 0.06em 0.06em 0px grey;
			transition: text-shadow 2s ease-in-out;
		}
	}
	.col-md-4{
		.card{
			padding-top: 1px;
			box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
			border: 1px solid rgba(0,0,0,0.15);
			@include aspect-ratio(1, 1);
			transition: box-shadow $anim;
			background-color: white;
			.content{
				width: 75%;
				height: auto;
				margin: 0 12.5%;
				top: 50%;
				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
				box-shadow: none;
				padding: 0px;
			}
			&:hover{
				box-shadow: 0px 0px 16px rgba(0,0,0,0.1);
			}
		}
	}
	.col-md-8{
		.card{
			padding: $x5 $x3;
			h3{
				margin: 0 0 $x2 0;
				font-size: $x5;
				letter-spacing: 0.025em;
				font-weight: 400;
				color: $black;
			}
			p{
				font-size: $x3;
				font-weight: 300;
				color: $black;
				b{
					font-weight: 500;
				}
			}
		}
	}
	section.container-fluid{
		padding: $x5*4 0;
		position: relative;
		&:nth-of-type(odd){
			z-index: 1;
			background-color: grey;
			&:before{
				content:"";
				width: 100%;
				height: 0px;
				top: -50px;
				left: 0;
				border-left: 100vw solid transparent;
				border-bottom: 50px solid grey;
				position: absolute;
				display: block;
			}
			&:after{
				content:"";
				width: 100%;
				height: 0px;
				bottom: -50px;
				left: 0;
				border-right: 100vw solid transparent;
				border-top: 50px solid grey;
				position: absolute;
				display: block;
				z-index: 50;
			}
			.col-md-8{
				.card{
					h3{
						color: white;
					}
					p{
						color: white;
						b{
							color: white;
						}
					}
				}
			}
		}
	}
	.gallery{
		&.container-fluid{
			padding: 0px;
		}
		.wrapper{
			margin: 0px;
			@include aspect-ratio(2,4);
		}
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.detail-page .gallery{
		.wrapper{
			@include aspect-ratio(3, 3);
		}
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.detail-page .gallery{
		.wrapper{
			@include aspect-ratio(4, 2);
		}
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}