.detail-page{
	overflow-x: hidden;
	.description{
		h2{
			text-shadow: 5px 5px 0px grey;
		}
	}
	.col-md-4{
		.card{
			padding-top: 1px;
			box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
			border: 1px solid rgba(0,0,0,0.15);
			@include aspect-ratio(1, 1);
			transition: box-shadow $anim;
			background-color: white;
			.content{
				width: 75%;
				height: auto;
				margin: 0 12.5%;
				top: 50%;
				transform: translateY(-50%);
			}
			&:hover{
				box-shadow: 0px 0px 16px rgba(0,0,0,0.1);
			}
		}
	}
	.col-md-8{
		.card{
			padding: $x5 $x3;
			h3{
				margin: 0 0 $x2 0;
				font-size: $x5;
				letter-spacing: 0.025em;
				font-weight: 400;
				color: $black;
			}
			p{
				font-size: $x3;
				font-weight: 300;
				color: $black;
				b{
					font-weight: 400;
				}
			}
		}
	}
	section.container-fluid{
		padding: $x5*4 0;
		position: relative;
		&:nth-of-type(odd){
			background-color: grey;
			&:before{
				content:"";
				width: 100%;
				height: 0px;
				top: -50px;
				left: 0;
				border-left: 100vw solid transparent;
				border-bottom: 50px solid grey;
				position: absolute;
				display: block;
			}
			&:after{
				content:"";
				width: 100%;
				height: 0px;
				bottom: -50px;
				left: 0;
				border-right: 100vw solid transparent;
				border-top: 50px solid grey;
				position: absolute;
				display: block;
			}
			.col-md-8{
				.card{
					h3{
						color: white;
					}
					p{
						color: white;
					}
				}
			}
		}
	}
	.gallery{
		margin-top: $x5*2;
	}
}
