.development{
	&.detail-page{
		.description{
			h2{
				text-shadow: 5px 5px 0px $blue;
			}
		}
		.col-md-8{
			p{
				b{
					color: $blue;
				}
			}
		}
		section.container-fluid{
			&:nth-of-type(odd){
				background-color: $blue;
				&:before{
					border-bottom-color: $blue;
				}
				&:after{
					border-top-color: $blue;
				}
			}
		}
	}
}