footer {
	color: lightgray;
	font-weight: 300;
	padding: 15px;
	background-color: $black;
	a{
		color: lightgray;
		text-decoration: none;
		transition: color $anim;
		&:hover{
			color: white;
			text-decoration: none;
		}
	}
	.col-sm-6:first-of-type{
		text-align: left;
	}
	.col-sm-6:last-of-type{
		text-align: right;
	}
	.fa{
		font-size: 1.5em;
		padding: 0 $x2;
		width: $x2;
	}
}