.news-letter {
	color: $black;
	font-weight: 400;
	input{
		background-color: transparent;
		border: 0px solid;
		display: block;
		width: 90%;
		margin: 0 auto;
		text-align: center;
		padding: 16px;
		border-bottom: 2px solid $black;
		&:placeholder-shown{
			& ~ button{
				color: grey;
				pointer-events: none;
			}
		}
		&:focus{
			& ~ button{
				&:before{
					background-color: $red;
				}
			}
		}
		&:hover{
			& ~ button{
				&:before{
					background-color: $red;
				}
			}
		}
	}
	button{
		position: relative;
		display: block;
		margin: 0 auto;
		padding: 16px;
		background-color: transparent;
		border: 0px solid;
		&:before{
			content:"";
			display: block;
			position: absolute;
			z-index: 25;
			background-color: $black;
			border: 4px solid white;
			border-radius: 50%;
			width: 20px;
			height: 20px;

			top: 0;
			left: 50%;
			transform: translate(-50%, -50%);

			transition: background-color 0.2s ease-in-out;
		}
		&:after{
			content:"";
			display: block;
			position: absolute;
			z-index: 50;
			background-color: white;
			border-radius: 50%;
			width: 8px;
			height: 8px;

			top: 0;
			left: 50%;
			transform: translate(-50%, -50%);

			transition: background-color 0.2s ease-in-out;
		}
		&:hover{
			&:before{
				background-color: $red;
			}
			&:after{
				background-color: $red;
			}
		}
		&:focus{
			&:before{
				background-color: $red;
			}
			&:after{
				background-color: $red;
			}
		}
	}
}