.gallery{
	.container{
		text-align: center;
	}
	input{
		display: none;
		&:checked{
			& + label{
				opacity: 1;
				margin: 0px 25px;
				width: 50px;
				height: 50px;
			}
			& ~ .wrapper .empty{
				display: none;
			}
		}
		&#design-filter{
			&:checked{
				& ~ .wrapper .tag-design{
					display: block;
				}
			}
		}
		&#development-filter{
			&:checked{
				& ~ .wrapper .tag-development{
					display: block;
				}
			}
		}
		&#community-filter{
			&:checked{
				& ~ .wrapper .tag-community{
					display: block;
				}
			}
		}
	}
	label{
		width: 30px;
		height: 30px;
		display: inline-block;	
		border-radius: 50%;
		color: transparent;
		box-sizing: border-box;
		margin: 10px 35px;
		opacity: 0.5;
		transition: width $anim, height $anim, opacity $anim, margin $anim;
		&[for="design-filter"]{
			background-color: $yellow;
		}
		&[for="development-filter"]{
			background-color: $blue;
		}
		&[for="community-filter"]{
			background-color: $red;
		}
	}
	.wrapper{
		overflow: hidden;
		margin: $x5*2 0 $x3 0;
		@include aspect-ratio(2, 6);
		background-color: rgba(0,0,0,0.06);
		.positioner{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		.item{
			display: none;
			overflow: hidden;
			min-height: 0px;
			padding: 0px;
			@include aspect-ratio(1, 1);
			position: relative;
			color: white;
			background-color: white;
			span{
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%,-50%);
				-ms-transform: translate(-50%,-50%);
				transform: translate(-50%,-50%);
				font-size: $x3;
			}
			.content{
				margin: 0;
				padding: 0;
				img{
					position: absolute;
					top: 50%;
					left: 50%;
					-webkit-transform: translate(-50%,-50%);
					-ms-transform: translate(-50%,-50%);
					transform: translate(-50%,-50%);
					max-width: 175%;
					max-height: 175%;
				}
				&:before{
					background-color: rgba(0,0,0,0.5);
					content: "";
					display: block;
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					z-index: 10;
					opacity: 0;
					transition: opacity $anim;
				}
				&:after{
					content: "+";
					position: absolute;
					display: block;
					font-size: $x5*2;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
					z-index: 20;
					opacity: 0;
					transition: opacity $anim;
				}
				&:hover{
					&:before{
						opacity: 1;
					}
					&:after{
						opacity: 1;
					}
				}
				.tags{
					display: block;
					line-height: 1;
					width: 100%;
					position: absolute;
					bottom: $x2;
					left: 0;
					z-index: 30;
					& > div{
						width: $x2;
						height: $x2;
						margin: 0 4px;
						background-color: gray;
						display: none;
						text-align:center;
						border-radius: 8px;
					}
				}
			}
			&.tag-design{
				.content{
					.tags{
						.yellow{
							display: inline-block;
							background-color: $yellow;
						}
					}
				}
			}
			&.tag-development{
				.content{
					.tags{
						.blue{
							display: inline-block;
							background-color: $blue;
						}
					}
				}
			}
			&.tag-community{
				.content{
					.tags{
						.red{
							display: inline-block;
							background-color: $red;
						}
					}
				}
			}
		}
		.empty{
			font-size: $x5;
			padding: 0 15%;
			display: block;
			position: absolute;
			-webkit-ransform: translateY(-50%);
			-ms-ransform: translateY(-50%);
			transform: translateY(-50%);
			top: 50%;
			color: rgba(0,0,0,0.25);
		}
		.noresults{
			font-size: 2em;
			text-align: center;
			width: 100%;
			display: block;
			padding-top: 200px;
			color: lightgrey;
			float: right;
		}
	}
	.instructions{
		margin-bottom: $x5;
		opacity: 0.5;
		.yellow{
			color: $yellow;
		}
		.red{
			color: $red;
		}
		.blue{
			color: $blue;
		}
	}
}

canvas{
	height: 600px;
	display: block;
	width: 600px;
	max-width: 100%;
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.gallery{
		.container{
			.wrapper{
				@include aspect-ratio(3, 4);
			}
		}
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.gallery{
		.container{
			.wrapper{
				@include aspect-ratio(4, 3);
			}
		}
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}