.gallery{
	.container{
		text-align: center;
	}
	input{
		display: none;
		&:checked{
			& + label{
				opacity: 1;
				margin: 0px 25px;
				width: 50px;
				height: 50px;
			}
			& ~ .wrapper .empty{
				display: none;
			}
		}
		&#design-filter{
			&:checked{
				& ~ .wrapper .tag-design{
					display: block;
				}
			}
		}
		&#development-filter{
			&:checked{
				& ~ .wrapper .tag-development{
					display: block;
				}
			}
		}
		&#community-filter{
			&:checked{
				& ~ .wrapper .tag-community{
					display: block;
				}
			}
		}
	}
	label{
		width: 30px;
		height: 30px;
		display: inline-block;	
		border-radius: 50%;
		color: transparent;
		box-sizing: border-box;
		margin: 10px 35px;
		opacity: 0.5;
		transition: width $anim, height $anim, opacity $anim, margin $anim;
		&[for="design-filter"]{
			background-color: $yellow;
		}
		&[for="development-filter"]{
			background-color: $blue;
		}
		&[for="community-filter"]{
			background-color: $red;
		}
	}
	.wrapper{
		overflow: hidden;
		margin: $x5*2 0;
		@include aspect-ratio(2, 6);
		background-color: rgba(0,0,0,0.06);
		.positioner{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		.item{
			display: none;
			overflow: hidden;
			min-height: 0px;
			padding: 0px;
			@include aspect-ratio(1, 1);
			background-color: hotpink;
			position: relative;
			color: white;
			span{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				font-size: $x3;
			}
			.content{
				img{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
				}
				.tags{
					display: block;
					line-height: 1;
					padding: 90% 10%;
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					& > div{
						width: 16px;
						height: 16px;
						margin: 0 4px;
						background-color: hotpink;
						display: none;
						text-align:center;
						border-radius: 8px;
					}
				}
			}
			&.tag-design{
				.content{
					.tags{
						.yellow{
							display: inline-block;
							background-color: $yellow;
						}
					}
				}
			}
			&.tag-development{
				.content{
					.tags{
						.blue{
							display: inline-block;
							background-color: $blue;
						}
					}
				}
			}
			&.tag-community{
				.content{
					.tags{
						.red{
							display: inline-block;
							background-color: $red;
						}
					}
				}
			}
		}
		.empty{
			font-size: $x5;
			padding: 0 15%;
			display: block;
			position: absolute;
			transform: translateY(-50%);
			top: 50%;
			color: rgba(0,0,0,0.25);
		}
	}
}

canvas{
	height: 600px;
	display: block;
	width: 600px;
	max-width: 100%;
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.gallery{
		.container{
			.wrapper{
				@include aspect-ratio(3, 4);
			}
		}
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.gallery{
		.container{
			.wrapper{
				@include aspect-ratio(4, 3);
			}
		}
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}