.page-header {
	margin: 0;
	padding: 50px 0 0 0;
	position: relative;
	width: 100%;
	min-height: 75vh;
	max-height: 100vh;
	overflow: hidden;
	background-position: center;
	background-size: cover;
	border-bottom: 0px solid transparent;
	video {
		position: absolute;
	    top: 50%;
	    left: 50%;
	    min-width: 100%;
	    min-height: 100%;
	    width: auto;
	    height: auto;
	    z-index: -100;
	    -ms-transform: translateX(-50%) translateY(-50%);
	    -moz-transform: translateX(-50%) translateY(-50%);
	    -webkit-transform: translateX(-50%) translateY(-50%);
	    transform: translateX(-50%) translateY(-50%);
	    background: url(polina.jpg) no-repeat;
	    background-size: cover;
	    /* filter: blur(3px); */
	    filter: grayscale(100%);
	}

	.overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

	    /* background-color: rgba(101, 64, 39, 0.4); */
        background-color: rgba(0, 0, 0, 0.4);
	}

	.header-bar {
		position: fixed;
		top: 0;
		z-index: 10;
		background-color: transparent;
		border-bottom: 1px solid transparent;
	    transition: background-color 0.2s ease-in, border-color 0.2s ease-in;

		width: 100%;
		line-height: 60px;
		height: 60px;
		box-sizing: border-box;

		.logo {
			margin: 10px 0;
			max-height: 40px;
			transition: opacity 0.2s ease-in-out;
			position: absolute;

			&.black {
				opacity: 0;
				pointer-events: none;
			}

			&.white {
				opacity: 1;
				pointer-events: all;
			}
		}

		.horizontal-nav {
			list-style-type: none;
			padding: 0;
			text-align: right;

			// &.open {
			// 	.nav-item {
			// 		display: block;
			// 	}
			// }

			.nav-item {
		        padding-left:25px;

			    a {
					font-size: 18px;
					font-weight: 400;
			    	color: #FFF;
			    }

			    &.mobile {
			    	display: block;
			    	color: #FFF;
		    	    line-height: 50px;
			    }
			}
		}

		&.background {
			background-color: white;
			border-color: #F0F0F0;
			text-shadow: none;

			.horizontal-nav {
				.nav-item {
					a { 
						color: #333;
					}
				}
			}

			.logo {
				&.black {
					opacity: 1;
					pointer-events: all;
				}

				&.white {
					opacity: 0;
					pointer-events: none;
				}
			}
		}
	}
	
	&.design{
		min-height: 45vh;
		.call{
			h1{
				font-size: 5em;
			}
			b{
				color: $yellow;
			}
		}
	}

	.call{
		display: block;
		position: absolute;
		width: 100%;
		top: 50%;
		transform: translateY(-50%);
		text-align: center;
		color: white;
		z-index: 20;
		h1{
			font-size: 3em;
			margin: 0;
			span{
				display: block;
				font-weight: 300;
			}
			b{
				display: block;
				font-weight: 600;
			}
		}
		.btn{
			position: relative;
			border: 2px solid white;
			border-radius: 0px;
			border-style: solid solid none solid;
			margin-top: 48px;
			padding: 12px 36px;
			transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
			&:hover{
				background-color: white;
				color: black;
				&:before{
					width: 48%;
				}
				&:after{
					width: 48%;
				}
				.circle{
					background-color: $red;
					border-color: $red;
				}
			}
			&:before{
				content:"";
				position: absolute;
				display: block;
				width: 42.5%;
				height: 2px;
				left: -2px;
				bottom: -1px;
				background-color: white;
				transition: width 0.2s ease-in-out;
			}
			&:after{
				content:"";
				position: absolute;
				display: block;
				width: 42.5%;
				height: 2px;
				right: -2px;
				bottom: -1px;
				background-color: white;
				transition: width 0.2s ease-in-out;
			}
			.circle{
				display: block;
				position: absolute;
				z-index: 25;
				left: 50%;
				transform: translateX(-50%);
				bottom: -6px;
				border: 2px solid white;
				border-radius: 50%;
				width: 12px;
				height: 12px;
				transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
			}
		}
	}
}

@media(min-width: 768px) {
	.page-header {
		.header-bar {
			.horizontal-nav {
				.nav-item {
					display: block;
					float: left;
					padding-left: 35px;
					font-size: 16px;

					&.mobile {
						display: none;
					}
				}
			}
		}

		.quote {
			padding: 25vh 0px;
			font-size: 47px;
        	line-height: 55px;
		}

		.quote-author {
			padding: 30vh 0 0 50%;
			text-align: center;
		}
	}
}