.page-header {
	margin: 0;
	padding: 50px 0 0 0;
	position: relative;
	width: 100%;
	overflow: hidden;

	//background-image: url('../img/header.jpg');
	background-position: center;
	background-size: cover;

	video {
		position: absolute;
	    top: 50%;
	    left: 50%;
	    min-width: 100%;
	    min-height: 100%;
	    width: auto;
	    height: auto;
	    z-index: -100;
	    -ms-transform: translateX(-50%) translateY(-50%);
	    -moz-transform: translateX(-50%) translateY(-50%);
	    -webkit-transform: translateX(-50%) translateY(-50%);
	    transform: translateX(-50%) translateY(-50%);
	    background: url(polina.jpg) no-repeat;
	    background-size: cover;
	    /* filter: blur(3px); */
	    filter: grayscale(100%);
	}

	.overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

	    /* background-color: rgba(101, 64, 39, 0.4); */
        background-color: rgba(0, 0, 0, 0.4);
	}

	.header-bar {
		position: fixed;
		top: 0;
		z-index: 10;
		background-color: transparent;
		border-bottom: 1px solid transparent;
	    transition: background-color 0.2s ease-in, border-color 0.2s ease-in;

		width: 100%;
		line-height: 50px;

		.logo {
			margin: 10px 0;
			max-height: 30px;
		}

		.horizontal-nav {
			list-style-type: none;
			.nav-item {
				font-size: 18px;
			    padding-right: 25px;

			    a {
			    	color: #FFF;
			    }
			}
		}

		&.background {
			background-color: #FFF;
			border-color: #F9F9F9;

			.horizontal-nav {
				.nav-item {
					a { 
						color: #333;
					}
				}
			}
		}
	}

	.quote {
	    width: 460px;
	    padding: 25vh 0px;
	    font-weight: 300;
	    text-transform: uppercase;
	    color: #FFF;
	    font-size: 47px;
        text-shadow: 1px 1px 30px rgb(19, 19, 19);
        line-height: 55px;

	    span {
	    	font-weight: 500;
	    	display: block;
	    }
	}

	.quote-author {
		text-align: center;
		color: #FFF;
		font-size: 18px;
    	line-height: 20px;
    	padding: 30vh 0px;
		
		span {
			display: block;
			font-weight: 300;
			font-size: 14px;
		}
	}
}