.quote{
	background: url("../img/quote_bckgr.png");
	position: relative;
	height: 450px;
	&_text{
		color: white;
		position: absolute;
		display: block;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		&-content{
			font-size: 3em;
			font-weight: 300;
			line-height: 1.1;
			white-space: nowrap;
			b{
				font-weight: 800;
			}
		}
		&-author{
			margin-top: 36px;
			font-size: 1em;
			line-height: 1;
			text-align: center;
			font-weight: 300;
			b{
				font-weight: 600;
			}
			span{
				display: block;
			}
		}
	}
}

@media only screen and (max-width: 525px){
	.quote_text-content{
		font-size: 2em;
	}
}

@media only screen and (max-width: 300px){
	.quote_text-content{
		font-size: 1.5em;
	}
}