/* Vars */
/* animations */
/* line 1, C:/Users/jaspd/projects/Designo/weareimd/src/scss/animations/_my-first-animation.scss */
.trololo {
  display: none;
}

/* components */
/* line 5, C:/Users/jaspd/projects/Designo/weareimd/src/scss/components/_main.scss */
body {
  font-size: 16px;
  font-weight: 500;
  font: Roboto;
}

/* line 1, C:/Users/jaspd/projects/Designo/weareimd/src/scss/components/_content.scss */
.content {
  padding: 50px 0;
}

/* line 4, C:/Users/jaspd/projects/Designo/weareimd/src/scss/components/_content.scss */
.content .content-item {
  padding: 50px 0;
}

/* line 8, C:/Users/jaspd/projects/Designo/weareimd/src/scss/components/_content.scss */
.content .content-item.centered img {
  display: block;
  margin: 25px auto;
  max-width: 300px;
}

/* line 13, C:/Users/jaspd/projects/Designo/weareimd/src/scss/components/_content.scss */
.content .content-item.centered p {
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
}

/* line 1, C:/Users/jaspd/projects/Designo/weareimd/src/scss/components/_header.scss */
.page-header {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 80vh;
  background-image: url("../img/header.jpg");
  background-position: center;
  background-size: cover;
}

/* line 12, C:/Users/jaspd/projects/Designo/weareimd/src/scss/components/_header.scss */
.page-header .header-bar {
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #FFF;
  border-bottom: 1px solid #F9F9F9;
  width: 100%;
  line-height: 50px;
}

/* line 23, C:/Users/jaspd/projects/Designo/weareimd/src/scss/components/_header.scss */
.page-header .header-bar .nav .nav-item {
  padding-right: 15px;
}

/* line 2, C:/Users/jaspd/projects/Designo/weareimd/src/scss/components/_form.scss */
.news-letter input[type="text"] {
  display: block;
  margin: 15px auto;
  width: 500px;
  padding: 5px;
  text-align: center;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid #BBBBBB;
}

/* line 13, C:/Users/jaspd/projects/Designo/weareimd/src/scss/components/_form.scss */
.news-letter button {
  display: block;
  margin: 0 auto;
  padding: 8px;
  background: transparent;
  border: none;
  border-top: 1px solid #BBBBBB;
  width: 150px;
  font-size: 18px;
  color: #ABABAB;
}

/* line 24, C:/Users/jaspd/projects/Designo/weareimd/src/scss/components/_form.scss */
.news-letter button:focus {
  outline: none;
}
