/* Vars */
/* animations */
/* line 1, C:/Users/jaspd/projects/Designo/weareimd/src/scss/animations/_my-first-animation.scss */
.trololo {
  display: none;
}

/* components */
/* line 5, C:/Users/jaspd/projects/Designo/weareimd/src/scss/components/_main.scss */
body {
  font-size: 16px;
  font-weight: 500;
  font-family: roboto;
}

/* line 1, C:/Users/jaspd/projects/Designo/weareimd/src/scss/components/_content.scss */
.content {
  padding: 50px 0;
}

/* line 4, C:/Users/jaspd/projects/Designo/weareimd/src/scss/components/_content.scss */
.content .content-item {
  padding: 50px 0;
}

/* line 7, C:/Users/jaspd/projects/Designo/weareimd/src/scss/components/_content.scss */
.content .content-item h3 {
  font-size: 48px;
  font-weight: 300;
}

/* line 12, C:/Users/jaspd/projects/Designo/weareimd/src/scss/components/_content.scss */
.content .content-item.centered {
  text-align: center;
}

/* line 14, C:/Users/jaspd/projects/Designo/weareimd/src/scss/components/_content.scss */
.content .content-item.centered img {
  display: block;
  margin: 25px auto;
  max-width: 300px;
}

/* line 19, C:/Users/jaspd/projects/Designo/weareimd/src/scss/components/_content.scss */
.content .content-item.centered p {
  margin: 0 auto;
  max-width: 500px;
}

/* line 1, C:/Users/jaspd/projects/Designo/weareimd/src/scss/components/_header.scss */
.page-header {
  margin: 0;
  padding: 50px 0 0 0;
  position: relative;
  width: 100%;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}

/* line 12, C:/Users/jaspd/projects/Designo/weareimd/src/scss/components/_header.scss */
.page-header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(polina.jpg) no-repeat;
  background-size: cover;
  /* filter: blur(3px); */
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

/* line 31, C:/Users/jaspd/projects/Designo/weareimd/src/scss/components/_header.scss */
.page-header .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background-color: rgba(101, 64, 39, 0.4); */
  background-color: rgba(0, 0, 0, 0.4);
}

/* line 42, C:/Users/jaspd/projects/Designo/weareimd/src/scss/components/_header.scss */
.page-header .header-bar {
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: transparent;
  border-bottom: 1px solid transparent;
  transition: background-color 0.2s ease-in, border-color 0.2s ease-in;
  text-shadow: 1px 1px 30px #131313;
  width: 100%;
  line-height: 50px;
}

/* line 54, C:/Users/jaspd/projects/Designo/weareimd/src/scss/components/_header.scss */
.page-header .header-bar .logo {
  margin: 10px 0;
  max-height: 30px;
}

/* line 58, C:/Users/jaspd/projects/Designo/weareimd/src/scss/components/_header.scss */
.page-header .header-bar .logo.black {
  display: none;
}

/* line 62, C:/Users/jaspd/projects/Designo/weareimd/src/scss/components/_header.scss */
.page-header .header-bar .logo.white {
  display: block;
}

/* line 67, C:/Users/jaspd/projects/Designo/weareimd/src/scss/components/_header.scss */
.page-header .header-bar .horizontal-nav {
  list-style-type: none;
}

/* line 69, C:/Users/jaspd/projects/Designo/weareimd/src/scss/components/_header.scss */
.page-header .header-bar .horizontal-nav .nav-item {
  font-size: 18px;
  padding-right: 25px;
}

/* line 73, C:/Users/jaspd/projects/Designo/weareimd/src/scss/components/_header.scss */
.page-header .header-bar .horizontal-nav .nav-item a {
  color: #FFF;
}

/* line 79, C:/Users/jaspd/projects/Designo/weareimd/src/scss/components/_header.scss */
.page-header .header-bar.background {
  background-color: #FFF;
  border-color: #F9F9F9;
  text-shadow: none;
}

/* line 86, C:/Users/jaspd/projects/Designo/weareimd/src/scss/components/_header.scss */
.page-header .header-bar.background .horizontal-nav .nav-item a {
  color: #333;
}

/* line 93, C:/Users/jaspd/projects/Designo/weareimd/src/scss/components/_header.scss */
.page-header .header-bar.background .logo.black {
  display: block;
}

/* line 97, C:/Users/jaspd/projects/Designo/weareimd/src/scss/components/_header.scss */
.page-header .header-bar.background .logo.white {
  display: none;
}

/* line 104, C:/Users/jaspd/projects/Designo/weareimd/src/scss/components/_header.scss */
.page-header .quote {
  width: 460px;
  padding: 25vh 0px;
  font-weight: 300;
  text-transform: uppercase;
  color: #FFF;
  font-size: 47px;
  line-height: 55px;
}

/* line 113, C:/Users/jaspd/projects/Designo/weareimd/src/scss/components/_header.scss */
.page-header .quote span {
  font-weight: 500;
  display: block;
}

/* line 119, C:/Users/jaspd/projects/Designo/weareimd/src/scss/components/_header.scss */
.page-header .quote-author {
  text-align: center;
  color: #FFF;
  font-size: 18px;
  line-height: 20px;
  padding: 30vh 0px;
}

/* line 126, C:/Users/jaspd/projects/Designo/weareimd/src/scss/components/_header.scss */
.page-header .quote-author span {
  display: block;
  font-weight: 300;
  font-size: 14px;
}

/* line 2, C:/Users/jaspd/projects/Designo/weareimd/src/scss/components/_form.scss */
.news-letter input[type="text"] {
  display: block;
  margin: 15px auto;
  width: 500px;
  padding: 5px;
  text-align: center;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid #BBBBBB;
}

/* line 13, C:/Users/jaspd/projects/Designo/weareimd/src/scss/components/_form.scss */
.news-letter button {
  display: block;
  margin: 0 auto;
  padding: 8px;
  background: transparent;
  border: none;
  border-top: 1px solid #BBBBBB;
  width: 150px;
  font-size: 18px;
  color: #ABABAB;
}

/* line 24, C:/Users/jaspd/projects/Designo/weareimd/src/scss/components/_form.scss */
.news-letter button:focus {
  outline: none;
}
