/* Vars */
$black: #333;
$red: #E73B35;
$yellow: #FFD122;
$blue: #67C6E5;
$bg: #FDFDFD;

/* animations */
@import "animations/_my-first-animation.scss";
@import "animations/_spin.scss";

/* components */
@import "components/_main.scss";
@import "components/_footer.scss";
@import "components/_content.scss";
@import "components/_header.scss";
@import "components/_form.scss";
@import "components/_quote.scss";