/* Vars */

/* animations */
@import "animations/_my-first-animation.scss";

/* components */
@import "components/_main.scss";
@import "components/_content.scss";
@import "components/_header.scss";
@import "components/_form.scss";
