/* Vars */
$black: #333;
$red: #E73B35;
$red_50: rgba(231, 59, 53, 0.5);
$yellow: #FFD122;
$blue: #67C6E5;

$x1: 8px;
$halfx: $x1/2;
$x2: $x1*2;
$x3: $x1*3;
$x4: $x1*4;
$x5: $x1*5;

$anim: 0.2s ease-in-out;

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}
 
/* animations */
@import "animations/_my-first-animation.scss";
@import "animations/_spin.scss";

/* components */
@import "components/_main.scss";
@import "components/_footer.scss";
@import "components/_content.scss";
@import "components/_header.scss";
@import "components/_form.scss";
@import "components/_quote.scss";
@import "components/_description.scss";
@import "components/_gallery.scss";
@import "components/_detail.scss";
@import "components/_design.scss";
@import "components/_development.scss";
@import "components/_community.scss";